.avatar {
	@extend .align-center;
	color: var(--font-555);
	font-weight: $font-weight-600;
	background: $gray-400 no-repeat center/cover;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	user-select: none;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	font-size: .875rem;

	i {
		font-size: 125%;
		vertical-align: sub;
    }
    &.avatar-blue {
        background-color: rgba($blue, 0.2);
        color: $blue;
    }
    &.avatar-indigo {
        background-color: rgba($indigo, 0.2);
        color: $indigo;
    }
    &.avatar-purple {
        background-color: rgba($purple, 0.2);
        color: $purple;
    }
    &.avatar-pink {
        background-color: rgba($pink, 0.2);
        color: $pink;
    }
    &.avatar-red {
        background-color: rgba($red, 0.2);
        color: $red;
    }
    &.avatar-orange {
        background-color: rgba($orange, 0.2);
        color: $orange;
    }
    &.avatar-green {
        background-color: rgba($green, 0.2);
        color: $green;
    }
    &.avatar-cyan {
        background-color: rgba($cyan, 0.2);
        color: $cyan;
    }
}

.avatar-status {
	@include border-radius(50%);
	background: $gray-600;
	border: 2px solid $white;
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: .75rem;
	height: .75rem;
}

.avatar-sm {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .75rem;
}
.avatar-md {
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 1rem;
}
.avatar-lg {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.25rem;
}
.avatar-xl {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.75rem;
}
.avatar-xxl {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
}
.avatar-placeholder {
	background: $gray-400 url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="134" height="134" viewBox="0 0 134 134"><path fill="' + $gray-600 + '" d="M65.92 66.34h2.16c14.802.42 30.928 6.062 29.283 20.35l-1.618 13.32c-.844 6.815-5.208 7.828-13.972 7.866H52.23c-8.764-.038-13.13-1.05-13.973-7.865l-1.62-13.32C34.994 72.4 51.12 66.76 65.92 66.34zM49.432 43.934c0-9.82 7.99-17.81 17.807-17.81 9.82 0 17.81 7.99 17.81 17.81 0 9.82-7.99 17.807-17.81 17.807-9.82 0-17.808-7.987-17.808-17.806z"/></svg>') no-repeat center/80%;
}
.avatar-list {
	margin: 0 0 -.5rem;
	padding: 0;
	font-size: 0;
	
	.avatar {
		margin-bottom: .5rem;

		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
	&.list-inlineblock{
		li{
			@include inline-block;
		}
	}
}
.avatar-list-stacked {
	.avatar {
		margin-right: -.8em !important;
	}

	.avatar {
		box-shadow: 0 0 0 2px $white;
	}
}