/* chartist */
$ct-series-colors: (
	a: #3C89DA,
	b: #2c83b6,
	c: #a5d8a2,
	d: #e0ef99,
	e: #5eba00,
	f: #d17905,
	g: #453d3f,
	h: #59922b,
	i: #0544d3,
	j: #6b0392,
	k: #f05b4f,
	l: #dda458,
	m: #eacf7d,
	n: #86797d,
	o: #b2c326,
);

.ct-chart {
	position: relative;
}
.ct-series {
	.ct-line {
		stroke-width: 2px;
	}
	.ct-bar {
		stroke-width: 15px;
	}
	.ct-point {
		stroke-width: 5px;
		stroke-linecap: circle;
	}
}

@each $series-name, $series-color in $ct-series-colors {
	.ct-series-#{$series-name} {
		.ct-line,
		.ct-bar,
		.ct-point {
			stroke: $series-color;
		}

		.ct-area, 
		.ct-slice-donut-solid, 
		.ct-slice-pie,
		.ct-bar {
			fill: $series-color;
		}
	}
}

.chartist-tooltip {
	@include border-radius(3px);
	color: var(--font-fff);
	background: var(--font-777);
	min-width: 3.5em;		

	&:before {
		margin-left: -8px;
		border-width: 8px;
		border-top-color: var(--font-777);
	}
}

.ct-axis-title {
	fill: var(--font-999);
}
/* Top Products Chart */
.ct-label {
	@extend .font-12;
	color: rgba($dark, 0.5);
}
.ct-grid{
	stroke: rgba($dark, 0.1);
}
.ct-legend {
	@extend .align-right;
	position: relative;	
	z-index: 5;	
	padding: 0;

	li {
		@include inline-block;
		@extend .m-r-15;
		position: relative;
		padding-left: 16px;
		margin-bottom: 3px;
		list-style-type: none;
	}

	li:before {
		@include border-radius(12px);
		width: 12px;
		height: 12px;
		position: absolute;
		top: 3px;
		left: 0;
		content: '';
		border: 3px solid transparent;
	}

	li.inactive:before {
		background: transparent;
	}

	&.ct-legend-inside {
		position: absolute;
		top: 0;
		right: 0;
	}

	$i: 0;
	@each $series-name, $series-color in $ct-series-colors {
		.ct-series-#{$i}:before {
			background-color: $series-color;
			border-color: $series-color;
		}

		$i: $i + 1;
	}
	stroke: rgba($white, 0.1);
}
#pie-chart,
#donut-chart {
	.ct-label {	
		fill: rgba($white, 0.9);
	}	
}

/* End Top Products Chart */
.c3-chart-arc {
	path{
		stroke: var(--card-color);
	}
}
.c3-line {
	stroke-width: 1.5px;
}

/* Morris */
.morris-hover {
    &.morris-default-style {
        @include border-radius(0);
    }
}

/* Flot */
.flot-chart {
    width: 100%;
    height: 320px;
}
.panel-switch-btn {
    position: relative;
    right: 20px;
    z-index: 9;

    label {
        font-weight: $font-weight-700 !important;
    }
}
.legendLabel {
    width: 85px !important;
    position: relative;
    left: 3px;
}
#multiple_axis_chart {
    .legendLabel {
        width: 160px !important;
    }
}

/* Sparkline */
.sparkline {
    text-align: center;
}
.dashboard-donut-chart {
    width: 280px;
    margin: 0 auto;
}
.flot-tick-label.tickLabel {
	color: var(--font-color);
	font-size: 10px;
}

/* sparkline chart */
#jqstooltip {
	background-color: var(--font-fff);
	border-color: var(--font-ccc);
	color: var(--font-color);

	.jqsfield {
		color: var(--font-color);
	}
}