.sticky-note{
    @include box-shadow(0 5px 10px 0px var(--box-shadow));
    @include transition(all .3s ease-in-out);
    background: var(--card-color);
    width: 340px;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    padding: 20px;
    margin: 0;
    z-index: 8;

    &.open{
        right: 0;
    }

    .right_note{
        @include inline-block;
        @extend .align-center;        
        background: var(--white-color);
        color: var(--font-777);
        position: absolute;
        border-radius: 35px;
        box-shadow: 0 2px 10px var(--box-shadow);
        width: 20px;
        line-height: 30px;
        left: -10px;
        border: 0;
        top: 20px;
    }

    .note-item{
        padding: 15px;

        .star{
            padding: 3px;
            color: var(--font-777);
            &:hover{
                color: $orange;
            }
            &.active{
                color: $orange;
                .fa-star-o:before{
                    content: '\f005';
                }
            }
        }
        .delete{
            padding: 3px;
            color: var(--font-777);
            &:hover{
                color: $red;
            }
        }
        .note-detail{
            margin-top: 10px;
        }
    }
    
    .note-body{
        height: calc(100vh - 150px);
        overflow-y: auto;
    }
}